.form {
  display: grid;
  gap: 0.5em;
}
.form_field {
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 0.2em 0em;
  margin: 2em 0;
}
.error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  background-color: rgb(246, 95, 95);
  color: white;
  text-align: center;
}
.error > svg {
  height: 0.9em;
}
.success {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: green;
}
.fade_in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
